<% if (theme.donate.on) { %>
    <div style="padding: 0; margin: 20px auto; width: 90%; text-align: center;">
      <br>
      <div><%=theme.donate.reward_comment%></div>
      <br>
      <button id="rewardButton" disable="enable" onclick="var qr = document.getElementById('QR'); if (qr.style.display === 'none') {qr.style.display='block';} else {qr.style.display='none'}">
        <div class="btn btn-pay">打赏支持</div>
      </button>
      <br>
      <br>
      <div id="QR" style="display: none;">
        <% if (theme.donate.wechatpay) { %>
          <div id="wechat" style="display: inline-block;">
            <img id="wechat_qr" src="<%=theme.donate.wechatpay%>" alt="<%=theme.author%> WeChat Pay"/>
            <p>微信打赏</p>
          </div>
        <% } %>
        <% if (theme.donate.alipay) { %>
          <div id="alipay" style="display: inline-block">
            <img id="alipay_qr" src="<%=theme.donate.alipay%>" alt="<%=theme.author%> Alipay"/>
            <p>支付宝打赏</p>
          </div>
        <% } %>
        <br>
        <br>
      </div>
    </div>
<% } %>
